/* general styling */
* {
    margin: 0;
    padding: 0;
}
/* header section */
header {
    display: flex;
    background-color: #001a25;
    color: #ffff;
}

header .container {
    width: 60px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    cursor: pointer;
    background-color: none;
}

header .container .bar {
    transition: .3s;
    width: 100%;
    height: 5px;
    background-color: black;
}


#bar1 {
    background-color: white;
}

#bar2 {
    background-color: white;
}

#bar3 {
    background-color: white;
}

header h1 {
    margin: 20px;
}

/* main section */


.show {
    width: 240px;
    height: 100vh;
    background-color: #001a25c9;
    margin-left: 0;
    transition: .3s;
}

.hide {
    width: 240px;
    height: 100vh;
    background-color: black;
    margin-left: -100%;
    transition: .3s;
    
}

/* bars */
.firstBar {
    width: 100%;
    height: 5px;
    background-color: black;
    rotate: -225deg;
    /* margin-top: 30px; */
    transition: .3s;
    margin-bottom: -20px;
}

.secondBar {
    display: none;
}

.thirdBar {
    width: 100%;
    height: 5px;
    background-color: black;
    rotate: 225deg;
    margin-bottom: 0px;
    align-items: center;
    background-color: red;
    transition: .3s;
}

.firstBarBack {
    rotate: 180deg;
    /* margin-top: 0px; */
    transition: .3s;
}

.secondBarBack {
    display: block;
}

.thirdBarBack {
    rotate: -180deg;
    margin-top: 0px;
    transition: .3s;
}

.hideMenu {
    display: none;
}
